<div class="footer-copyright">© 2021 Barinb. Все права защищены.</div>
<div class="footer-spacer"></div>
<nav class="footer-links">
  <a class="footer-link" href="" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/123/123717.png" alt="wer">
  </a>
  <a class="footer-link" href="" target="_blank">
    <img src="https://img.icons8.com/ios-glyphs/2x/twitter.png" alt="">
  </a>
  <a class="footer-link" href="//youtube.com" target="_blank">
    <img src="https://img.icons8.com/ios-glyphs/2x/twitter.png" alt="">
  </a>
  <a class="footer-link" href="../../../icons/instagram.png" target="_blank">
    <img src="https://img.icons8.com/ios-glyphs/2x/twitter.png" alt="">
  </a>
</nav>
